*{
	padding:0;
	margin:0;
	border:0;
}

body{
	background:;
}


#container{
	
	width:40%;
	background:white;
	margin:0 auto;
	padding:20px;
	
}

#container2{
	
	width:40%;
	background:white;
	margin:0 auto;
	padding:20px;
	opacity: 0.9;

	/*box-shadow:  10px 10px 10px yellow;*/
}

#container3{
	
	width:40%;
	background:white;
	margin:0 auto;
	padding-right:40px;
	opacity:0.9;
	/*box-shadow:10px 10px 10px yellow;*/
	
}

#header{
	width:40%;
	background:#FAFA0B;
	margin:0 auto;
	padding:20px;
	font-weight:bold;
	opacity: 0.8;
	/*box-shadow:10px 10px 10px yellow;*/
}

#ul{
	width:40%;
	background:yellow;
	margin:0 auto;
	padding-bottom:10px;
	padding-right:20px;
}

#box{
	width:%;
	height:400px;
	overflow:auto;
	overflow-x:hidden;
	
}

#data{
	width:%;
	padding:5px;
	margin-bottom:5px;
	border-bottom:1px solid yellow;
	font-weight:bold;
	overflow:auto;
	overflow-y:hidden;
}

.text1{
	width:50%;
	height:40px;
	border:2px solid #FAFA0B;
	border-radius:5px;

}

.text{
	width:%;
	height:40px;
	border:2px solid #FAFA0B;
	border-radius:5px;
}

.submit1{
	width:50%;
	height:40px;
	border-radius:5px;
	font-weight:bold;
	background-color:#FAFA0B ;
	color:blue;
	

}

.submit{
	width:50px;
	height:35px;
	border:1px solid white;
	border-radius:px;
	font-weight:;
	background: url(img1.png);
	background-repeat:no-repeat;
}

.btn-clear{padding: 15px 25px; font-size: 20px; font-weight: 300}
